* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body, html {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
}

main .game {
    width: 25%;
    padding: 0.5em;
}

main .game img {
    width: 100%;
    aspect-ratio: 4/3;
    background: black;
}

main .game .author {
    padding-top: 1em;
}